<!DOCTYPE html>
<html data-bs-theme="auto" lang="he">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#adminpagebtt").click(function (event) {
            window.location.href = "/admin";
        });

        $("#log-out-btn").click(function (event) {
            const url = '/logout'
            $.ajax({
                url: url,
                type: "GET",
                data: JSON.stringify({}),
                contentType: "application/json",
                success: function (res) {
                    console.log('log out successfully applied!')
                    window.location.href = "/";
                },
                error: function (err) {
                    alert("log out failed! Please try again.");
                    console.error("log out! error:", err);
                }
            });
        });
    });
</script>

<%- include('partials/head') %>

    <body>
        <%- include('partials/nav') %>
            <div class="text-right mx-5">
                <h1>משתמש שלי</h1>
            </div>

            <div class="row">
                <div class="col-md-2 text-right" style="display: flex;flex-direction: column;">
                    <button class="btn userbtn" type="button">כללי</button>
                    <button class="btn userbtn" type="button">הזמנות שלי</button>
                    <button class="btn userbtn" type="button">הפרטים שלי</button>
                    <button class="btn userbtn" type="button">כתובות למשלוח</button>
                    <button class="btn userbtn" type="button">פרטי אשראי</button>
                    <button id="log-out-btn" class="btn userbtn" type="button">התנתקות</button>
                </div>
                <div class="col-md-8 text-right">
                    <h3>כללי</h3>
                    <p>
                        <%= user.userId%> :מספר מזהה
                    </p>
                    <!--                    <p><%= user.firstName%> :שם פרטי</p>-->
                    <!--                    <p><%= user.lastName%> :שם משפחה</p>-->
                    <!--                    <p><%= user.phoneNumber%> :טלפון</p>-->
                    <!--                    <p><%= user.email%> :אימייל</p>-->
                    <p>
                        <%= user.username %> :שם משתמש
                    </p>
                    <% if (user.role=='admin' ) { %>
                        <p>:מנהל</p>
                        <button id="adminpagebtt" class="btn userbtn" type="button">עמוד מנהל</button>
                        <% } %>
                </div>
            </div>

            <%- include('partials/footer') %>
    </body>

</html>