<!DOCTYPE html>
<html data-bs-theme="auto" lang="he">

<%- include('partials/head') %>

<body>
<%- include('partials/nav') %>
<h1 class="text-right">פאנל מנהלים</h1>

<%- include('partials/components/adminquickpanel') %>
<%- include('partials/components/admincredcomp') %>

<%- include('partials/footer') %>
</body>

</html>