<!DOCTYPE html>
<html data-bs-theme="auto" lang="he">

<%- include('partials/head') %>
    <%- include('logics/addtocartlogics') %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                var user = JSON.parse('<%- JSON.stringify(user) %>');
                console.log(user);
                var products = [];
                $.ajax({
                    url: '/api/products',
                    type: 'GET',
                    success: function (data) {
                        products = JSON.parse(JSON.stringify(data));
                        console.log(products);
                        for (let i = 0; i < products.length; i++) {
                            let product = products[i];
                            // Nir - here you can append the product to the page
                            // change the productCard to be the html of the product card you created......
                            var productCard = `<div class="product-card">
                            product id: ${product._id ? product._id : " not found"}
                                product name: ${product.name ? product.name : " not found"}
                                <br>
                                product price: ${product.price ? product.price : " not found"}
                                <br>
                                product image: ${product.image ? product.image : " not found"}
                                <br>
                                product description: ${product.description ? product.description : " not found"}
                                <br>
                                product category: ${product.category ? product.category : " not found"}
                                <br>
                                `;
                            $("#products-container").append(productCard);
                            let button = $(`<button class="product-card" id="product-index-${i}}">add to cart</button>`);
                            button.click(() => {
                                fun(i);
                            })
                            $("#products-container").append(button);
                        }
                    },
                    error: function (err) {
                        console.log(err + "sadasdasdasdsa");
                    }
                });


<body>
<%- include('partials/nav') %>
<div class="text-right px-2">
    <h1>קטלוג מוצרים</h1>
</div>
<!-- Filter form -->
<div class="container">
    <div class="row justify-content-end mb-3">
        <div class="col-md-12 text-right">
            <form id="filter-form" class="form-inline">
                <button type="submit" class="btn btn-primary mr-3">סנן</button>
                   <div class="form-group mr-3">
                    <label class="mr-2" for="price-range">טווח מחירים: </label>
                    <input type="number" class="form-control" id="price-min" placeholder="מחיר מינימלי"
                           name="minPrice">
                </div>

                <div class="form-group">
                    <input type="number" class="form-control" id="price-max" placeholder="מחיר מקסימלי"
                           name="maxPrice">
                </div>
                <div class="form-group">
                    <label class="mr-2" for="category-select">סנן לפי קטגוריה: </label>
                    <select class="custom-select" id="category-select" name="category">
                        <option value="">הכל</option>
                        <!-- Add options for your categories here -->
                        <option value="bracelet">צמיד</option>
                        <option value="necklace">שרשרת</option>
                        <option value="ring">טבעת</option>
                        <option value="earring">עגיל</option>
                        <option value="pendant">תליון</option>
                        <option value="watch">שעון</option>
                        <option value="other">אחר</option>

                        <!-- ... more categories ... -->
                    </select>
                </div>




            </form>
        </div>
    </div>
</div>


<div class="container">
    <div class="row catalog-items">
    </div>
    <!-- Pagination -->
    <div class="row " style="margin-top: 50px">
        <div class="col-12 text-center">
            <nav aria-label="Page navigation ">
                <ul class="pagination d-flex justify-content-center">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>



    $(document).ready(function () {
        $('.catalog-items').on('click', '.product-card', function () {
            console.log('add to cart');
            // Your "add to cart" logic here
        });
        try {
            $.ajax({
                url: '/api/products', // Replace with your API endpoint
                method: 'GET',
                success: function (response) {
                    const productList = $('.catalog-items');
                    productList.empty();

                    response.forEach(product => {
                        const productItem = $('<div>').addClass('col-md-3').html(`
                            <div class="product-card">
                                <div class="product-image-container">
                                    <span class="badge badge-new">New</span>
                                    <a href="#" class="product-link" title="${product.details}">
                                        ${product.image && product.image !== "sdasdasdsa" ?
                            `<img src="${product.image}" class="product-image" alt="${product.details}">` :
                            `<img src="https://placehold.jp/300x300.png" class="product-image" alt="Default Image">`}
                                    </a>
                                </div>
                                <div class="product-details row" style="flex-direction: row;">
                                    <div class="col-md-8">
                                        <a id="product-name" href="#" class="product-name text-right" style="color: black;"
                                            title="${product.details}">${product.details}</a>
                                    </div>
                                    <div class="product-price col-md-1">
                                        <span class="price">₪${product.price}</span>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button id="add_to_cart_btn" class="add-to-cart-button btn">הוסף לסל</button>
                                    <button class="add-to-cart-button btn">אהבתי</button>
                                </div>
                            </div>
                        `);
                        productList.append(productItem);
                    });
                },
                error: function (error) {
                    console.error('Error fetching products:', error);
                }
            });
        } catch (error) {
            console.error('Error fetching products:', error);
        }
    });
    $('#filter-form').on('submit', async function (event) {

        event.preventDefault();

        const category = $('#category-select').val();
        const minPrice = $('#price-min').val();
        const maxPrice = $('#price-max').val();

        const queryParams = new URLSearchParams({
            category: category,
            minPrice: minPrice,
            maxPrice: maxPrice,
        });
        console.log(queryParams.toString());
        try {
            const response = await fetch(`/api/products?${queryParams.toString()}`);
            const filteredProducts = await response.json();

            const productList = $('.catalog-items');
            productList.empty();

            filteredProducts.forEach(product => {
                const productItem = $('<div>').addClass('col-md-3').html(`
                 <div class="product-card">
                        <div class="product-image-container">
                            <span class="badge badge-new">New</span>
                            <a href="#" class="product-link" title="${product.productName}">
                                ${product.image && product.image !== "sdasdasdsa" ?
                    `<img src="${product.image}" class="product-image" alt="${product.productName}">` :
                    `<img src="https://placehold.jp/300x300.png" class="product-image" alt="Default Image">`}
                            </a>
                        </div>
                        <div class="product-details row" style="flex-direction: row;">
                            <div class="col-md-8">
                                <a id="product-name" href="#" class="product-name text-right" style="color: black;"
                                    title="${product.productName}">${product.productName}</a>
                            </div>
                            <div class="product-price col-md-1">
                                <span class="price">₪${product.price}</span>
                            </div>
                        </div>
                        <div class="text-center">
                            <button id="add_to_cart_btn" class="add-to-cart-button btn">הוסף לסל</button>
                            <button class="add-to-cart-button btn">אהבתי</button>
                        </div>
                    </div>
                `);
                productList.append(productItem);
            });
        } catch (error) {
            console.error('Error fetching products:', error);
        }
    });
</script>
</body>
</html>
