<!DOCTYPE html>
<html data-bs-theme="auto" lang="he">

<%- include('partials/head') %>

<body>
<%- include('partials/nav') %>
<div class="text-right px-2">
    <h1>קטלוג מוצרים</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <%- include('partials/components/catalogproductitem') %>
        </div>
        <div class="col-md-3">
            <%- include('partials/components/catalogproductitem') %>
        </div>
        <div class="col-md-3">
            <%- include('partials/components/catalogproductitem') %>
        </div>
        <div class="col-md-3">
            <%- include('partials/components/catalogproductitem') %>
        </div>
    </div>
        <div class="row">
        <div class="col-md-3">
            <%- include('partials/components/catalogproductitem') %>
        </div>
        <div class="col-md-3">
            <%- include('partials/components/catalogproductitem') %>
        </div>
        <div class="col-md-3">
            <%- include('partials/components/catalogproductitem') %>
        </div>
        <div class="col-md-3">
            <%- include('partials/components/catalogproductitem') %>
        </div>
    </div>
        <div class="row">
        <div class="col-md-3">
            <%- include('partials/components/catalogproductitem') %>
        </div>
        <div class="col-md-3">
            <%- include('partials/components/catalogproductitem') %>
        </div>
        <div class="col-md-3">
            <%- include('partials/components/catalogproductitem') %>
        </div>
        <div class="col-md-3">
            <%- include('partials/components/catalogproductitem') %>
        </div>
    </div>

</div>


<%- include('partials/footer') %>
</body>

</html>