<!DOCTYPE html>
<html data-bs-theme="auto" lang="he">

<%- include('partials/head') %>
<%- include('logics/deletecollectionlogics') %>


<body>
<%- include('partials/nav') %>
<%- include('partials/components/delete_collectioncomp.ejs') %>
<%- include('partials/footer') %>
</body>

</html>