<!DOCTYPE html>
<html data-bs-theme="auto" lang="he">
<%- include('partials/head') %>
    <body>
        <%- include('partials/nav',{ isAuth }) %>
            <%- include('partials/components/hero') %>

<!--                include('partials/components/productcollection')-->

<!--                     include('partials/components/quickcatalog')-->
                        <%- include('partials/components/instagramfeed') %>

                            <%- include('partials/footer') %>

    </body>

</html>