<!DOCTYPE html>
<html lang="he">
<%- include('partials/head') %>
  <body>

  <%- include('partials/nav') %>

  <%- include('partials/components/hero') %>

  <%- include('partials/components/productcollection') %>

  <%- include('partials/components/quickcatalog') %>

  <%- include('partials/footer') %>

  </body>
</html>
