<!DOCTYPE html>
<html data-bs-theme="auto" lang="he" dir="rtl">


<%- include('partials/head') %>
<%- include('logics/loginlogics.ejs') %>

<body>
<%- include('partials/nav') %>
<%- include('partials/components/logincomponent.ejs') %>
<%- include('partials/footer') %>
</body>

</html>