<!DOCTYPE html>
<html data-bs-theme="auto" lang="he" dir="ltr">


<%- include('partials/head') %>

<body>
<%- include('partials/nav') %>
<div class="container mt-5">
    <div class="row justify-content-start">
        <div class="col-md-7">
            <img src="<%= product.image %>" style="max-width: 100%; height: 500px;" class="img-fluid" alt="<%= product.productName %>">
        </div>
        <div class="col-md-5">
            <div class="card p-4 text-right h-100">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="mb-4" style="margin-top: 30%">₪<%= product.price %></h3>
                    </div>
                    <div class="col-md-6">
                        <h1 class="display-4"><%= product.productName %></h1>
                    </div>
                </div>
                <p class="text-muted mt-4"><%= product.details %></p>
                <a href="/sizeguide" class="d-block mt-3" style="color: black">הצג מדריך גדלים</a>
                <div class="mt-4">
                    <button class="btn btn-dark btn-block" type="button">רכישה</button>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
</body>

</html>
