<!DOCTYPE html>
<html data-bs-theme="auto" lang="en">

<%- include('partials/head') %>
<%- include('logics/signinlogics.ejs') %>

  <body>
    <%- include('partials/nav') %>
      <%- include('partials/components/signupcomponent.ejs') %>
        <%- include('partials/footer') %>
  </body>

</html>