<!DOCTYPE html>
<html data-bs-theme="auto" lang="he" dir="rtl">


<%- include('partials/head') %>
<%- include('logics/signuplogics') %>

  <body>
    <%- include('partials/nav') %>
      <%- include('partials/components/signupcomponent.ejs') %>
        <%- include('partials/footer') %>
  </body>

</html>